<h3>Eventos en el lugar</h3>

<div class="eventcontainer">
    {{#each event}}
    <img src="{{this.image}}" alt="">
    <h1>{{this.eventname}}</h1>
    <span>{{this.description}}</span>
    <p>{{this.author}}</p>

    {{/each}}
    </div>
    <h2>Cervezas</h2>
<div class="containerF">
  
   

    {{#each birras}}
    <div class="beercontainer">
    <p>{{this.name}}</p>
    <img src="{{this.image}}" alt="">
    <p>{{this.description}}</p>
    </div>
    {{/each}}

   </div>
  
   