<h2>
    aquí está place
</h2>

<div id='mapDetail' style='width: 400px; height: 300px;'></div>

<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiZXZpbHZpYyIsImEiOiJjazY4MnBiN3kwMG8xM21uemJvYndkZHJ3In0.Xd19YjoqqQOQa_3PPD62ug';
  const map = new mapboxgl.Map({
container: 'mapDetail',
style: 'mapbox://styles/mapbox/streets-v11',
zoom: 15,
center: [ {{location.coordinates}} ]
})
new mapboxgl.Marker()
            .setLngLat([ {{location.coordinates}} ])
            .addTo(map)
</script>
{{!-- {{#each Places}}
{{/each}} --}}
<h3>{{name}}</h3>
<p>{{location.address}}</p>

<h2>beers</h2>
{{#each beers}}
  {{this.name}} <br>
  <img src="{{this.image}}" alt="nor found">
  <p><a href="/beer/{{this._id}}">Ver cerveza</a></p>
{{/each}}
